body {
  font-size: $baseFontSize;

  @include phones {
    font-size: 3.33333vmin;
  }
}

html, body {
  height: 100%;
}

body {
  // font-family: 'Alegreya Sans', Arial, sans-serif;
  // font-family: 'Open Sans', Arial,  sans-serif;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  color: $black;
  line-height: 1.42;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

ul > li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

.section {
  height: 100vh;
  // min-height: 650px;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: $containerWidth;
}

h1 {
  font-size: rem(72px);
  font-weight: bold;
  line-height: 1.34;
}

h2 {
  display: block;
  font-size: rem(36px);
  font-weight: bold;
  margin-bottom: rem(50px);
}

h3 {
  font-size: rem(24px);
  font-weight: bold;
}
