// colors
$yellow: #fedb3f;
$gray: #666666;
$black: #292929;
$white: #aaaaaa;

// size
$containerWidth: 1040px;
$baseFontSize: 18px;

// breakpoints
$phones: 480px;
$tablets: 920px;

// fonts
$baseFontFamily: "Alegreya Sans", Arial, sans-serif;
