.address__phone {
  display: flex;
  align-items: center;

  @include phones {
    text-align: center;
    justify-content: center;
  }

  &::before {
    display: block;
    content: "";
    background: url(../images/icons/Group1.png);
    width: 13px;
    height: 15px;
  }

  &--header {
  @include phones {
    display: none; 
   }
  }
}