.btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: rem(16px) rem(40px);
  margin: rem(4px);
  background-color: $yellow;
  color: $black;
  font-size: rem(18px);
  font-weight:800;
  border-radius: rem(44px);
  text-transform: uppercase;
  transition: background .2s linear;
  transition: box-shadow .2s linear;
  transition: color .2s linear;
  outline: none;
  cursor: pointer; 
  &:hover {
    box-shadow: 0 0 rem(20px) 0 $yellow;
  }
  &:active {
    box-shadow: 0 0 rem(20px) 0 transparent;
  }
}

.btn_type_second {
  background-color: $gray;
  &:hover {
    box-shadow: 0 0 rem(20px) 0 $gray;
  }
  &:active {
    box-shadow: 0 0 rem(20px) 0 transparent;
  }
}