.btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: calc(8px + 8 * (100vw / 1280)) calc(24px + 16 * (100vw / 1280));
  margin: rem(4px);
  background-color: $yellow;
  color: $black;
  font-size: calc(8px + 8 * (100vw / 1280));;
  font-weight:800;
  border-radius: rem(44px);
  text-transform: uppercase;
  transition: background .2s linear;
  outline: none;
  cursor: pointer; 
  transition: transform .1s linear;
  &:active {
    transform: translateY(2px);
  }
}

.btn_type_second {
  background: $gray;
}