.contact {
  display: flex;
  align-items: center;

  &::before {
    display: block;
    content: "";
    background: url(../images/icons/Group1.png);
    width: rem(14px);
    height: rem(14px);
  }

  @include phones {
   display: none; 
  }
}