.features__list {
  display: flex;
  @include phones {
    display: none;
  }
}

.features__item {
  align-items: center;
  display: flex;
  margin-right: 30px;
  max-width: rem(150px);
}

.features__img {
  display: block;
  fill: #fff;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
