.features__list {
  display: flex;
  
  @include phones {
   display: none; 
  }
}

.features__item {
  display: flex;
  margin-right: rem(30px);
  max-width: rem(150px);
}

.features__img {
  margin-right: rem(10px);
}