.features__list {
  display: flex;
  & p {
    margin-left: rem(10px);
  }
  @include phones {
    display: none; 
  }
}

.features__item {
  align-items: center;
  display: flex;
  margin-right: rem(30px);
  max-width: rem(150px);
}

.features__img {
  display: block;
  fill: #fff;
  width: 40px;
  height: 40px;
}