.hero {
  color: #fff;
  padding-top: rem(30px);
  position: relative;
  padding-bottom: rem(60px);
  background: url(../images/background/bg.png) center center / cover no-repeat;
  
  @include phones {
    padding-top: rem(0px);
    padding-bottom: rem(0px);
    background: url(../images/background/bg.png) right 34% bottom / cover no-repeat;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include phones {
    width: 100%;
  }
}