.logo__img-box {
  @include phones {
    padding: 0px 20px;
  }
}

.logo__img {
  display: block;
  width: 56px;
  height: 40px;
  margin-right: rem(50px);
  fill: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill: $yellow;
  }
  @include phones {
    margin-right: 0px;
  }
}
