.menu__list {
  display: flex;
  font-weight: bold;
  font-size: rem(24px);
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(20px);

  &:hover {
    text-decoration: underline;
  }
}
