.reviews {
  display: flex;
  justify-content: center;
  align-items: center;

  & h2 {
    text-align: center;
    margin-bottom: rem(22px);
  }
}

.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__item {
  display: flex;
  background-color: #F8FAF9;
  padding: rem(42px) rem(142px) rem(42px) rem(42px);
  margin-bottom: rem(20px);
  
  @include phones {
    flex-direction: column;
    align-items: center;
    padding: rem(50px) rem(30px);
    text-align: center;
  }
}

.reviews__img {

  @include phones {
    width: 130px;
    height: 130px;
  }
}

.reviews__desc {
  padding-left: rem(40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @include phones {
    padding-left: rem(0px);
  }

  & h3 {
    margin-bottom: 14px;
  }
  
  & p {
    line-height: 1.1;
    margin-bottom: rem(14px);
  }

  & div {
    font-weight: bold;
  }
}

.reviews__icon-list {
  display: flex;
  justify-content: center;
  gap: rem(20px);
}

.reviews__icon-img {
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid transparent;

  @include phones {
    width: 64px;
    height: 64px;
  }

  &--active {
    background-color: $yellow;
  }

  &:hover, &--active {
    background-color: $yellow;
  }
}