.slider-section {
  background-color: #F8FAF9;
  padding: rem(50px) 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.slider__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item {
  gap: rem(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include phones {
    flex-direction: column;
    height: 100%;
    gap: 0px;
  }
}

.slider__img-box {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 45%;
  
  @include phones {
    width: 100%;
  }
}

.slider__img {
  
  @include phones {
    width: 60%;
    margin-right: rem(0px);
  }
}

.slider__info {
  max-width: 40%;

  @include phones {
    width: 100%;
  }
}

.slider__info h2 {
  margin-bottom: rem(24px);
}

.slider__text {
  color: $gray;
  margin-bottom: rem(24px);
}

.slider__desc-list {
  display: flex;
  margin-bottom: rem(24px);
}

.slider__desc-item {
  margin-right: rem(55px);
}

.slider__price {
  display: flex;
  align-items: center;
}

.slider__price span {
  margin-right: rem(28px);
  font-size: rem(60px);
}

.slider__desc-value {
  font-weight: bold;
}

.bx-wrapper {
  background-color: #F8FAF9;
  border: none;
  box-shadow: none;
}