.title {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  @include phones {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}

.title h1 {
  text-transform: uppercase;
  margin-bottom: rem(34px);
  
  @include phones {
    font-size: rem(38px);
  }
}

.title p {
  margin-bottom: rem(50px);
  font-size: rem(30px);
  
  @include phones {
    font-size: rem(18px);
  }
}