.why {
  padding: 100px 0px;
  position: relative;
  display: flex;
  align-items: center;
  h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
  }
  @include phones {
    padding: 40px 0px;
  }
}

.why__subtitle {
  color: #666;
  max-width: 50%;
  margin: 0px auto 50px auto;
  text-align: center;
  @include phones {
    max-width: 90%;
  }
}

.why__list {
  display: flex;
  justify-content: center;
  gap: 80px;
  @include phones {
    flex-direction: column;
    gap: 30px;
  }
}

.why__item {
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 1.1;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  @include phones {
    flex-direction: row;
    max-width: 100%;
    height: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .why__item:hover {
    transform: scale(1.1);
    .why__img-box {
      box-shadow: 2px 2px 24px #d1d4d3;
    }
  }
}

.why__img-box {
  display: flex;
  background: #f2f5f4;
  width: rem(128px);
  height: rem(128px);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: rem(20px);
  flex-shrink: 0;
  box-shadow: 1px 1px 14px #d1d4d3;
  transition: box-shadow .2s ease-in;
  @include phones {
    margin-bottom: 0px;
  }
}

.why__img {
  width: 68px;
  height: 68px;
  fill: #000;
  transition: all 0.2s;
}

.why__desc {
  text-align: center;
  overflow: hidden;
  @include phones {
    text-align: left;
    padding-left: 12px;
  }
}

.why__desc h3 {
  color: #000;
  font-size: rem(28px);
  font-weight: bold;
  margin-bottom: rem(20px);
  @include phones {
    margin-bottom: rem(10px);
  }
}

.why__desc p {
  color: #666;
  margin-right: 10px;
}
