.why {
  padding-top: 100px;
  padding-bottom: 110px;
}

.why__title {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.why__subtitle {
  color: #666;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.why__list {
  display: flex;
  justify-content: space-between;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 67px;
    height: 21px;
    background: url(/images/icons/circles.png);
    top: 18%;
    right: -34%;
  }

  &:last-child::before {
    display: none;
  }
}

.why__img-box {
  display: flex;
  background: #F2F5F4;
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.why__item-title {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.why__item-text {
  text-align: center;
  color: #666;
}