.why {
  padding: rem(100px) 0px;
  position: relative;
  display: flex;
  align-items: center;
  h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
  }
  @include phones {
    padding: rem(40px) 0px;
  }
}

.why__subtitle {
  color: #666;
  max-width: 50%;
  margin: 0px auto rem(50px) auto;
  text-align: center;
  @include phones {
    max-width: 90%;
  }
}

.why__list {
  display: flex;
  justify-content: center;
  gap: rem(80px);
  @include phones {
    flex-direction: column;
    gap: rem(30px);
  }
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(267px);
  position: relative;
  line-height: 1.1;
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 67px;
    height: 21px;
    background: url(../images/icons/circles.png);
    top: 18%;
    right: -25%;
    @include phones {
      display: none;
    }
  }
  &:last-child::before {
    display: none;
  }
  @include phones {
    flex-direction: row;
    max-width: 100%;
    height: 100%;
  }
}


.why__img-box {
  display: flex;
  background: #F2F5F4;
  width: rem(128px);
  height: rem(128px);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: rem(20px);
  flex-shrink: 0;
  @include phones {
    margin-bottom: 0px;
  }
}

.why__desc {
  text-align: center;
  @include phones {
    text-align: left;
    padding-left: 12px;
  }
}

.why__desc h3 {
  color: #000;
  font-size: rem(28px);
  font-weight: bold;
  margin-bottom: rem(20px);
  @include phones {
    margin-bottom: rem(10px);
  }
}

.why__desc p {
  color: #666;
}